@media only screen and (min-width: 64em){

h3{
    text-align: left;
}
.forecastheader{
    text-align: center;
    font-family: "EB Garamond", serif;
}
.contact{
    text-align: left;
}
.navigation li:first-child{
    display: none;
}
.navigation li{
    display: flex;
}
.navigation {
    flex-direction: row;
    justify-content: space-evenly;
}

.articlebody{
    background-color:#7a9d96;
    padding-bottom: 90px;
    color: #00303f;
}
.article img{
    float: right;
    width: 300px;
}

p {
    color: #00303f;
}
.contactinfo{
    background-color:#7a9d96;
    color:#00303f;
    padding-left: 20px;
    text-align: left;
    padding-bottom: 50px;
}

.forecast{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.forecast-image {
    width: 100%;
}
.forecast td, th {
    border: 2px solid #7a9d96;
}
tr{
    border: .4pt;
}
.forecast table{
    border-collapse: collapse;
}
.map{
    display: inline-block;
    width: 100%;
    align-content: center;
}
.gallery {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}
.weathergallery:hover {box-shadow: 0 0 50px #333;}
}
form{
    display: flex;
    max-width: 500px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: left;
    color: #00303f;
    padding: 20px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}